/*** Default ***/
section.recipe.edit>.container .side-item ul,
section.recipe.edit>.container .main-item ul {
    /* sizing */
    margin: 0;
    padding: 0;
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);

    /* list */
    list-style: none;
}

section.recipe.edit>.container .side-item li,
section.recipe.edit>.container .main-item li {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
}

/*** Input-Text ***/
section.recipe.edit>.container .side-item input[type="text"],
section.recipe.edit>.container .main-item input[type="text"],
section.recipe.edit>.container .main-item textarea {
    /* sizing */
    width: 100%;
    padding: calc(var(--default-padding) / 1.5) calc(var(--default-padding) * 1.5);

    /* text */
    font-size: 13.3333px;
    font-weight: 400;
    line-height: 1;

    /* styling */
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    border: 1px solid currentColor;
    border-top-width: 4px;

    /* transition */
    transition: var(--transition-color-500), var(--transition-background_color-500);
}

section.recipe.edit>.container .main-item textarea {
    /* sizing */
    height: 200px;
    resize: vertical;
}

section.recipe.edit>.container .side-item input[type="text"]:focus,
section.recipe.edit>.container .main-item input[type="text"]:focus,
section.recipe.edit>.container .main-item textarea:focus {
    outline: none;
}

section.recipe.edit>.container .side-item input[type="text"]:focus:invalid,
section.recipe.edit>.container .main-item input[type="text"]:focus:invalid {
    border-top-color: var(--form-color-invalid-hold);
}

section.recipe.edit>.container .side-item input[type="text"]:invalid,
section.recipe.edit>.container .main-item input[type="text"]:invalid {
    border-top-color: var(--form-color-invalid);
}

section.recipe.edit>.container .side-item input[type="text"]:focus:valid,
section.recipe.edit>.container .main-item input[type="text"]:focus:valid,
section.recipe.edit>.container .main-item textarea:focus {
    border-top-color: var(--form-color-valid-hold);
}

/*** Input-File ***/
section.recipe.edit>.container .side-item input[type="file"],
section.recipe.edit>.container .main-item input[type="file"] {
    /* display */
    display: none;
}


section.recipe.edit>.container .side-item .content-2,
section.recipe.edit>.container .main-item .content-2 {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--default-padding) / 2);
}

/*** Input-Number ***/
section.recipe.edit>.container .side-item input[type="number"],
section.recipe.edit>.container .main-item input[type="number"] {
    /* sizing */
    width: 100%;
    padding: calc(var(--default-padding) / 1.5) calc(var(--default-padding) * 1.5);

    /* text */
    font-size: 13.3333px;
    font-weight: 400;
    line-height: 1;

    /* styling */
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    border: 1px solid currentColor;
    border-top-width: 4px;
    -moz-appearance: textfield;
    appearance: textfield;

    /* transition */
    transition: var(--transition-color-500), var(--transition-background_color-500);
}

section.recipe.edit>.container .side-item input[type="number"]::-webkit-inner-spin-button,
section.recipe.edit>.container .main-item input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

section.recipe.edit>.container .side-item input[type="number"]:focus,
section.recipe.edit>.container .main-item input[type="number"]:focus {
    outline: none;
}

section.recipe.edit>.container .side-item input[type="number"]:focus:invalid,
section.recipe.edit>.container .main-item input[type="number"]:focus:invalid {
    border-top-color: var(--form-color-invalid-hold);
}

section.recipe.edit>.container .side-item input[type="number"]:invalid,
section.recipe.edit>.container .main-item input[type="number"]:invalid {
    border-top-color: var(--form-color-invalid);
}

section.recipe.edit>.container .side-item input[type="number"]:hover:valid,
section.recipe.edit>.container .main-item input[type="number"]:hover:valid {
    border-top-color: var(--form-color-valid);
}

section.recipe.edit>.container .side-item input[type="number"]:focus:valid,
section.recipe.edit>.container .main-item input[type="number"]:focus:valid {
    border-top-color: var(--form-color-valid-hold);
}


/*** Button/Input-File ***/
section.recipe.edit>.container .side-item button[type="remove"],
section.recipe.edit>.container .main-item button[type="remove"] {
    /* sizing */
    width: 34.3333px;
    height: 34.3333px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    font-size: 13.3333px;
    font-weight: 400;
    line-height: 1;

    /* styling */
    border-radius: 0;
    background-color: var(--foreground-color-100);
    color: var(--background-color-100);
    border: 2px solid var(--foreground-color-100);
}

section.recipe.edit>.container .side-item button[type="remove"]:hover,
section.recipe.edit>.container .side-item button[type="remove"]:focus,
section.recipe.edit>.container .main-item button[type="remove"]:hover,
section.recipe.edit>.container .main-item button[type="remove"]:focus {
    /* styling */
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    border-color: var(--foreground-color-100);
}

section.recipe.edit>.container .side-item button[type="remove"]:active,
section.recipe.edit>.container .main-item button[type="remove"]:active {
    /* styling */
    background-color: var(--foreground-color-100);
    color: var(--foreground-color-100);
    border-color: var(--foreground-color-100);
}

section.recipe.edit>.container .side-item button[type="add"],
section.recipe.edit>.container .main-item button[type="add"],
section.recipe.edit>.container .side-item label[type="file"],
section.recipe.edit>.container .main-item label[type="file"] {
    /* sizing */
    width: 100%;
    height: 34.3333px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    font-size: 13.3333px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* styling */
    border-radius: 0;
    background-color: var(--foreground-color-100);
    color: var(--background-color-100);
    border: 2px solid var(--foreground-color-100);
}

section.recipe.edit>.container .side-item button[type="add"]:hover,
section.recipe.edit>.container .side-item button[type="add"]:focus,
section.recipe.edit>.container .main-item button[type="add"]:hover,
section.recipe.edit>.container .main-item button[type="add"]:focus,
section.recipe.edit>.container .side-item label[type="file"]:hover,
section.recipe.edit>.container .side-item label[type="file"]:focus,
section.recipe.edit>.container .main-item label[type="file"]:hover,
section.recipe.edit>.container .main-item label[type="file"]:focus {
    /* styling */
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    border-color: var(--foreground-color-100);
}

section.recipe.edit>.container .side-item button[type="add"]:active,
section.recipe.edit>.container .main-item button[type="add"]:active,
section.recipe.edit>.container .side-item label[type="file"]:active,
section.recipe.edit>.container .main-item label[type="file"]:active {
    /* styling */
    background-color: var(--foreground-color-100);
    color: var(--foreground-color-100);
    border-color: var(--foreground-color-100);
}

/*** Information-Edit && Timers-Edit ***/
section.recipe.edit>.container #information-edit li,
section.recipe.edit>.container #timers-edit li {
    padding: calc(var(--default-padding) / 2);
    border: 2px solid currentColor;
    border-left-width: 10px;
}

/*** Other-Images ***/
section.recipe.edit>.container #other-images ul {
    /* sizing */
    width: 100%;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
    gap: calc(var(--default-padding) * 2);
}

section.recipe.edit>.container #other-images li {
    /* position */
    position: relative;
}

section.recipe.edit>.container #other-images li img {
    /* sizing */
    width: 100%;
    aspect-ratio: 18/9;

    /* image */
    object-fit: cover;
}

section.recipe.edit>.container #other-images li button {
    /* position */
    position: absolute;
    inset: var(--default-padding);
}