section.recipe {
    /* transition */
    transition: var(--transition-background_color-600), var(--transition-color-600);
}

section.recipe>.container {
    /* flex */
    display: flex;
    flex-direction: row;
}

/**** side ****/
section.recipe>.container .side {
    /* sizing */
    width: var(--width);
    --width: 400px;
    margin: var(--header-style-padding);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) * 2);
}

section.recipe a.share,
section.recipe button.share {
    /* sizing */
    padding: var(--header-padding);

    /* text */
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;

    /* styling */
    border-radius: 0;
    border: 2px solid var(--foreground-color-100);
    background-color: var(--foreground-color-100);
    color: var(--background-color-100);
}

section.recipe a.share:hover,
section.recipe a.share:focus,
section.recipe button.share:hover,
section.recipe button.share:focus {
    /* cursor */
    cursor: pointer;

    /* styling */
    border: 2px solid var(--foreground-color-100);
    background-color: var(--background-color-100);
    color: var(--foreground-color-100);
    outline: none;
}

section.recipe a.share:active,
section.recipe button.share:active {
    /* styling */
    border: 2px solid var(--foreground-color-100);
    background-color: var(--foreground-color-100);
    color: var(--foreground-color-100);
}

section.recipe>.container .side .side-item {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--default-padding);
}

section.recipe>.container .side .side-item .info {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    /* styling */
    border-top: 2px solid currentColor;
}

section.recipe>.container .side .side-item .info span {
    /* text */
    font-size: 16px;
    font-weight: 600;

    /* styling */
    color: inherit;
}

/*** author ***/
section.recipe #author {
    /* spacing */
    margin-bottom: calc((var(--default-padding) / 2) * -1);
    gap: calc(var(--default-padding) / 2);
}

section.recipe #author .about {
    /* sizing */
    width: 100%;
    padding: calc(var(--default-padding) / 2) var(--default-padding);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--default-padding);

    /* text */
    text-decoration: none;

    /* styling */
    color: var(--foreground-color-100);
    border: 2px solid transparent;
}

section.recipe #author .about:hover,
section.recipe #author .about:focus {
    /* styling */
    /* background-color: var(--foreground-color-100); */
    /* color: var(--background-color-100); */
    border-color: currentColor;
}

section.recipe #author .about:active {
    /* styling */
    background-color: var(--foreground-color-100);
}

section.recipe #author .about img {
    /* sizing */
    width: calc(var(--width) / 7);
    height: calc(var(--width) / 7);

    border-radius: 50%;
}

section.recipe #author .about>div {
    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section.recipe #author .about div span {
    /* text */
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
}

section.recipe #author .about div span.name {
    /* text */
    font-size: 18px;
    font-weight: 700;
}

/*** information ***/
/* section.recipe #information {} */

section.recipe #information ul {
    /* sizing */
    padding: 0;
    padding-left: var(--default-padding);
    margin: 0;
    width: 100%;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--default-padding);

    /* list */
    list-style: none;
}

section.recipe #information ul li {
    /* spacing */
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: calc(var(--default-padding) / 2);
}

section.recipe #information ul li span.title {
    /* text */
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

section.recipe #information ul li span.subTitle {
    /* text */
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

/*** quick links ***/
section.recipe #quick-links ul {
    /* spacing */
    margin: 0;
    padding: 0;
    padding-left: var(--default-padding);
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--default-padding);
}

section.recipe #quick-links ul a {
    /* text */
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline dashed;

    /* styling */
    color: inherit;
}

section.recipe #quick-links ul a:hover,
section.recipe #quick-links ul a:focus {
    /* text */
    text-decoration: underline;
}

section.recipe #quick-links ul a:focus-visible {
    /* text */
    text-decoration: none;

    /* styling */
    outline: 2px solid currentColor;
    outline-offset: 3px;
}

/*** ingredients ***/
/* section.recipe #ingredients {} */

section.recipe #ingredients ul {
    /* sizing */
    margin: 0;
    padding: 0;
    padding-left: calc(var(--default-padding) * 3);
    width: 100%;
}

section.recipe #ingredients ul li {
    /* text */
    font-size: 16px;
    font-weight: 600;
}

/**** main ****/
section.recipe>.container .main {
    /* sizing */
    width: 100%;
}

/*** header ***/
section.recipe>.container .main>header {
    /* position */
    position: relative;
    z-index: 1;

    /* sizing */
    width: 100%;
    height: 400px;
    margin: 0;

    /* styling */
    color: var(--dnu-light-color-100);
    background-color: var(--background-color-400);
}

section.recipe>.container *::selection {
    /* styling */
    color: var(--background-color-100);
    background-color: var(--foreground-color-100);
}

section.recipe>.container .main>header img {
    /* position */
    position: absolute;
    inset: 0;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: 100%;

    /* image */
    object-fit: cover;
}

section.recipe>.container .main>header>.container {
    /* position */
    position: absolute;
    inset: 0;
    bottom: auto;
}

section.recipe>.container .main>header>.alt-container {
    /* position */
    position: absolute;
    inset: 0;
    top: auto;
}

section.recipe>.container .main>header>.alt-container .about {
    /* sizing */
    margin: var(--footer-padding);

    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--default-padding);
}

section.recipe>.container .main>header>.container::before {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    bottom: auto;
    z-index: -1;

    /* sizing */
    height: calc(100% + 50px);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

section.recipe>.container .main>header>.alt-container::before {
    /* content */
    content: "";

    /* position */
    position: absolute;
    inset: 0;
    top: auto;
    z-index: -1;

    /* sizing */
    height: calc(100% + 50px);

    /* styling */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

section.recipe>.container .main>header>.alt-container span {
    /* spacing */
    margin: 0;
    padding: 0;

    /* text */
    font-size: 24px;
    font-weight: 700;
    line-height: 1;

    /* styling */
    color: inherit;
}

section.recipe>.container .main>header>.container .info {
    /* sizing */
    margin: var(--header-bottom-padding);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    /* styling */
    border-top: 2px solid currentColor;
}

section.recipe>.container .main>header .info span {
    /* text */
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

    /* styling */
    color: inherit;
}

/*** main ***/
section.recipe>.container .main>main {
    /* sizing */
    margin: var(--header-style-padding);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) * 2);
}

section.recipe>.container .main>main .mobile {
    /* hiding */
    display: none;

    /* sizing */
    --width: 400px;
}

@media (max-width: 750px) {
    section.recipe>.container .side {
        /* hiding */
        display: none;
    }

    section.recipe>.container .main>main .mobile {
        /* flex */
        display: flex;
        flex-direction: column;
        gap: calc(var(--default-padding) * 2);
    }
}

section.recipe>.container .main>main .main-item {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

section.recipe>.container .main>main .main-item .info {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    /* styling */
    border-top: 2px solid currentColor;
}

section.recipe>.container .main>main .main-item .info span {
    /* text */
    font-size: 16px;
    font-weight: 600;

    /* styling */
    color: inherit;
}

section.recipe>.container .main>main .main-item>ol {
    /* sizing */
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: calc(var(--default-padding) * 3);

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: calc(var(--default-padding) / 2);
}

section.recipe>.container .main>main .main-item>ol li {
    /* text */
    font-size: 16px;
    font-weight: 500;
}

section.recipe>.container .main>main .main-item#description>.content {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);

    /* text */
    font-size: 16px;
    font-weight: 500;
}

section.recipe>.container .main>main .main-item#description>.content p {
    margin: 0;
}

section.recipe>.container .main>main .main-item#description>.content a {
    /* text */
    text-decoration: underline dashed;

    /* styling */
    color: inherit;
}

section.recipe>.container .main>main .main-item#description>.content a:hover,
section.recipe>.container .main>main .main-item#description>.content a:focus-visible {
    text-decoration: underline solid;
}

section.recipe>.container .main>main .main-item#description>.content em {}

section.recipe>.container .main>main .main-item#description>.content strong {
    /* text */
    font-weight: 800;
}

section.recipe>.container .main>main .main-item#description>.content del {}

section.recipe>.container .main>main .main-item#description>.content blockquote {
    /* spacing */
    margin: 0;
    padding: 10px 20px;
    width: fit-content;

    /* styling */
    border-left: 2px solid currentColor;
    background-color: var(--background-color-200);
}

section.recipe>.container .main>main .main-item#description>.content ul,
section.recipe>.container .main>main .main-item#description>.content ol {
    /* variables */
    --list-spacing: 18px;

    /* spacing */
    margin: 0;
    margin-left: var(--default-padding);
    padding: 0;
    padding-left: var(--list-spacing);

}

section.recipe>.container .main>main .main-item#description>.content ul li,
section.recipe>.container .main>main .main-item#description>.content ol li {}

section.recipe>.container .main>main .main-item#description>.content ul li.task-list-item,
section.recipe>.container .main>main .main-item#description>.content ol li.task-list-item {
    /* list */
    list-style: none;

    /* spacing */
    margin-left: calc(var(--list-spacing) * -1);
}

section.recipe>.container .main>main .main-item#description>.content ul li.task-list-item input,
section.recipe>.container .main>main .main-item#description>.content ol li.task-list-item input {
    /* spacing */
    margin: 0;
}

section.recipe>.container .main>main .main-item#description>.content table {
    /* sizing */
    width: fit-content;

    /* styling */
    border-collapse: collapse;
}

/* section.recipe>.container .main>main .main-item#description>.content table thead {} */
/* section.recipe>.container .main>main .main-item#description>.content table thead tr {} */

section.recipe>.container .main>main .main-item#description>.content table thead tr th {
    /* spacing */
    padding: calc(var(--default-padding) / 2) var(--default-padding);

    /* text */
    text-align: left;
    font-weight: 800;

    /* styling */
    border: 2px solid currentColor;
    border-top: none;
}

section.recipe>.container .main>main .main-item#description>.content table thead tr th:first-of-type {
    /* styling */
    border-left: none;
}

section.recipe>.container .main>main .main-item#description>.content table thead tr th:last-of-type {
    /* styling */
    border-right: none;
}

/* section.recipe>.container .main>main .main-item#description>.content table tbody {} */
/* section.recipe>.container .main>main .main-item#description>.content table tbody tr {} */

section.recipe>.container .main>main .main-item#description>.content table tbody tr td {
    /* spacing */
    padding: calc(var(--default-padding) / 4) var(--default-padding);

    /* styling */
    border: 1px solid currentColor;
    border-left-width: 2px;
    border-right-width: 2px;
}

section.recipe>.container .main>main .main-item#description>.content table tbody tr td:first-of-type {
    /* styling */
    border-left: none;
}

section.recipe>.container .main>main .main-item#description>.content table tbody tr td:last-of-type {
    /* styling */
    border-right: none;
}

section.recipe>.container #other-images ul {
    /* sizing */
    width: 100%;
    margin: 0;
    padding: 0;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
    gap: calc(var(--default-padding) * 2);
}

section.recipe>.container #other-images ul img {
    width: 100%;
    aspect-ratio: 18/9;
    object-fit: cover;
}

/*** footer ***/
/* section.recipe>.container .main>footer {} */

/**** share - modal ****/
dialog.recipe-share {
    /* position */
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* sizing */
    margin: 0;
    padding: 0;
    width: min(fit-content, 100%);
    --section-width: 300px;
    --section-gap: calc(var(--default-padding) * 4);

    /* styling */
    border-radius: 0;
    border: transparent;
}

dialog.recipe-share::backdrop {
    background: rgb(0 0 0 / 0.75);
}

/*** header ***/
dialog.recipe-share>header {
    /* sizing */
    padding: var(--header-padding);

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* styling */
    background-color: var(--background-color-200);
}

dialog.recipe-share>header>span {
    /* text */
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* styling */
    color: var(--foreground-color-200);
}

dialog.recipe-share>header button {
    /* sizing */
    height: 22px;
    width: 22px;
    padding: 0;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    /* styling */
    border-radius: 0;
    overflow: hidden;
    border: none;
    border: 2px solid var(--foreground-color-200);
    background-color: var(--foreground-color-200);
    color: var(--background-color-200);
}

dialog.recipe-share>header button:hover,
dialog.recipe-share>header button:focus {
    /* styling */
    border: 2px solid var(--foreground-color-200);
    background-color: var(--background-color-200);
    color: var(--foreground-color-200);
    outline: none;
}

dialog.recipe-share>header button:active {
    /* styling */
    border: 2px solid var(--foreground-color-200);
    background-color: var(--foreground-color-200);
    color: var(--foreground-color-200);
}

/*** main ***/
dialog.recipe-share>main {
    /* sizing */
    padding: var(--header-padding);

    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--section-gap);

    /* styling */
    background-color: var(--background-color-100);
}

dialog.recipe-share>main .qr {
    /* sizing */
    width: fit-content;
    height: fit-content;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog.recipe-share>main .qr svg {
    /* sizing */
    padding: var(--default-padding);
    height: fit-content;

    /* styling */
    background-color: white;
}

dialog.recipe-share>main .other {
    /* sizing */
    width: fit-content;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--header-padding);
}

dialog.recipe-share>main .other>p {
    /* sizing */
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

dialog.recipe-share>main .other>p span {
    /* text */
    font-size: 22px;
    font-weight: 700;

    /* styling */
    color: var(--foreground-color-200);
}

dialog.recipe-share>main .other>span {
    /* text */
    font-size: 18px;
    font-weight: 600;

    /* styling */
    color: var(--foreground-color-200);
}

dialog.recipe-share>main .other ul {
    /* sizing */
    width: 100%;
    margin: 0;
    padding: 0;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--default-padding);
}

dialog.recipe-share>main .other ul .share-btn {
    /* sizing */
    width: 45px;
    height: 45px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    text-decoration: none;

    /* styling */
    border-radius: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
    color: var(--foreground-color-100);
}

dialog.recipe-share>main .other ul .share-btn#email {
    /* styling */
    background-color: rgb(63, 131, 255);
}

dialog.recipe-share>main .other ul .share-btn#copy {
    /* styling */
    background-color: rgb(101, 18, 255);
}

/* dialog.recipe-share>main .other ul .share-btn span {} */

dialog.recipe-share>main .other ul .share-btn svg {
    /* sizing */
    width: 100%;
    height: 100%;
}

/*** footer ***/
/* dialog.recipe-share>footer {} */

/**** footer ****/
@media print {
    #root>header {
        position: static;
    }

    section.recipe>.container .main>header>.container .info {
        margin: var(--footer-padding);
    }

    * {
        background: transparent !important;
    }

    section.recipe #quick-links,
    section.recipe a.share,
    section.recipe button.share {
        display: none;
    }

    section.recipe>.container .side {
        /* hiding */
        display: none;
    }

    section.recipe>.container .main>main .mobile {
        /* flex */
        display: flex;
        flex-direction: column;
        gap: calc(var(--default-padding) * 2);
    }
}